[submodule "plugins/auto-complete"]
	path = plugins/auto-complete
	url = git://github.com/m2ym/auto-complete.git
[submodule "plugins/linum"]
	path = plugins/linum
	url = git://github.com/emacsmirror/linum.git
[submodule "plugins/psvn"]
	path = plugins/psvn
	url = git://github.com/emacsmirror/psvn.git
[submodule "plugins/mk-project"]
	path = plugins/mk-project
	url = git://github.com/mattkeller/mk-project.git
[submodule "plugins/color-theme-tango-2"]
	path = plugins/color-theme-tango-2
	url = git://github.com/wfarr/color-theme-tango-2.git
[submodule "plugins/ts-mode"]
	path = plugins/ts-mode
	url = git://github.com/emacsmirror/ts-mode.git
[submodule "plugins/remember-el"]
	path = plugins/remember-el
	url = git://repo.or.cz/remember-el.git
[submodule "plugins/auto-complete-etags"]
	path = plugins/auto-complete-etags
	url = git://github.com/emacsmirror/auto-complete-etags.git
[submodule "plugins/haskell-mode"]
	path = plugins/haskell-mode
	url = git://github.com/emacsmirror/haskell-mode.git
[submodule "plugins/color-theme"]
	path = plugins/color-theme
	url = git://github.com/haxney/color-theme.git
[submodule "plugins/iedit"]
	path = plugins/iedit
	url = git://github.com/emacsmirror/iedit.git
[submodule "plugins/timeclock-x"]
	path = plugins/timeclock-x
	url = git://github.com/emacsmirror/timeclock-x.git
[submodule "plugins/php-mode"]
	path = plugins/php-mode
	url = git://github.com/emacsmirror/php-mode.git
[submodule "plugins/org-mode"]
	path = plugins/org-mode
	url = git://repo.or.cz/org-mode.git
[submodule "plugins/zencoding"]
	path = plugins/zencoding
	url = git://github.com/chrisdone/zencoding.git
[submodule "plugins/ibuffer-git"]
	path = plugins/ibuffer-git
	url = git://github.com/jrockway/ibuffer-git.git
[submodule "snippets"]
	path = snippets
	url = git@github.com:arvixx/yasnippets.git
[submodule "plugins/twilight-emacs"]
	path = plugins/twilight-emacs
	url = git://github.com/crafterm/twilight-emacs.git
[submodule "plugins/wrap-region"]
	path = plugins/wrap-region
	url = git://github.com/rejeep/wrap-region.git
[submodule "plugins/espresso"]
	path = plugins/espresso
	url = http://github.com/emacsmirror/espresso.git
[submodule "plugins/highlight-parentheses"]
	path = plugins/highlight-parentheses
	url = http://github.com/emacsmirror/highlight-parentheses.git
[submodule "plugins/browse-kill-ring"]
	path = plugins/browse-kill-ring
	url = http://github.com/emacsmirror/browse-kill-ring.git
[submodule "plugins/rainbow"]
	path = plugins/rainbow
	url = git://git.naquadah.org/rainbow.git
[submodule "plugins/autopair"]
	path = plugins/autopair
	url = http://github.com/emacsmirror/autopair.git
[submodule "plugins/magit"]
	path = plugins/magit
	url = http://github.com/philjackson/magit.git
[submodule "plugins/yasnippet"]
	path = plugins/yasnippet
	url = git://github.com/emacsmirror/yasnippet.git
