/session.*
/recentf
/url/
/transient/
/tramp
/smex-items
/server/
/request/
/semanticdb/
/abbrev_defs
/ac-comphist.dat
/batch/
/bookmarks
/eln-cache/
/elpa/
/elpy/
/emojis/
/eshell/
/forge-database.sqlite
/games/
/ido.last
/image-dired/
/misc/
/network-security.data
/persist/
/places
/projectile-bookmarks.eld
/projectile.cache

*/#*
*/.#*
*/_build
/auto-save-list/
/backup-emacs/
/elisp-autofmt-cache/
org-clock-save.el
./org-clock-save.el
org-clock-save.el
/.lsp-session-v1
/chatgpt/
/.cache/
/projects
